@import '../../variables.scss';

.styleButton{
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius-pill;
  background-color: $color-primary-main;
  border: 1px solid $color-primary-main;
  cursor: pointer;

  &:focus{
    border-width: $border-width-thin;
    border-color: $color-primary-contrast;
    background-color: $color-primary-light;
  }

  &:hover{
    background-color: $color-primary-light;
    border-color: $color-primary-light;
  }

  &:active{
    background-color: $color-primary-dark;
    border-color: $color-primary-dark;
  }

  &:disabled{
    background-color: $color-base-dark-contrast;
    color: $color-base-light-secondary;
    cursor:not-allowed;
    border-color: $color-base-dark-contrast;
  };
}