@import '../../variables.scss'; 

#hero {
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

.divImg {
  position: relative;

  .floatingImage{
    position: absolute;
    left: -16px;
    top: 310px;
  }

  .imageHero{
    width: 525px;
    height: 778px;
  }

}

.divContent {
  margin-left: 162px;
  margin-bottom: 224px;
  width: 663px;

  div{
    display: flex;
    align-items: center;
    p{
      font-size: $font-size-md;
      font-weight: $font-weight-medium;
      line-height: $line-height-sm;
      text-align: left;
      color: $color-base-dark-main;
      padding-right: $spacing-inline-xxxs;
    }
  }

  p{
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
    line-height: $line-height-lg;
    text-align: left;
    color: $color-base-dark-main;
  }

  h1{
    font-size: $font-size-xxl;
    font-weight: $font-weight-semibold;
    line-height: $line-height-sm;
    text-align: left;
    color: $color-base-dark-highlight;
    margin-top: $spacing-stack-xl;
    margin-bottom: $spacing-stack-md;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {

  .divImg {
  
    .floatingImage{
      left: 256px;
      top: 310px;
    }
  
    .imageHero{
      width: 422px;
      height: 680px;
    }
  }

  .divContent{

    div{

      p{
        font-size: $font-size-xs;
        font-weight: $font-weight-medium;
        line-height: $line-height-sm;
        text-align: left;
        color: $color-base-dark-main;
      }
    }

    p{
      font-size: $font-size-md;
    }

    h1{
      font-size: $font-size-xl;
    }
  }
}