@import '../../variables.scss';

#divNewSletter{
  display: flex;
  height: 900px;
  margin-bottom: $spacing-stack-xxxl;
}

.Content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
}

.title{
  font-size: $font-size-md;
  font-weight: $font-weight-medium;
  line-height: $line-height-sm;
  text-align: left;
  color: $color-base-dark-main;
}

.subTitle{
  margin: $spacing-inline-md 0;
  font-size: $font-size-lg;
  font-weight: $font-weight-semibold;
  line-height: $line-height-lg;
  text-align: left;
  color: $color-base-dark-main;
}

.inputs{
  margin-bottom: $spacing-stack-lg;
  height: 156px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.listCelular{
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4,1fr);
  margin-left: 162px;

  ul{
    display: flex;
    flex-direction: column;
    gap: 40px
  }

}

@media only screen and (max-width: 1040px) {
  
}