@import '../../variables.scss';

.container{
	width: 100%;
	max-width: $desktop-size-lg;	
}

@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  
	.container{
		width: $desktop-size-md;	
	}
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {

	.container{
		width: $desktop-size-sm;
	}
}

@media only screen and (min-width: 360px) and (max-width: 1024px) {

	.container{
		width: $desktop-size-xs;
	}
}