@import '../../variables.scss';

#clients{
  display: flex;
  margin: 98px 0px;
  justify-content: space-between;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 525px;

  p{
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
    line-height: $line-height-lg;
    text-align: left;
    color: $color-base-dark-main;
  }
}

.listClients{
  display: grid;
  gap: 0 105px;
  grid-template-columns: repeat(3,1fr);
  //margin-left: 162px;
  margin-left: 8%;
}

@media only screen and (max-width: 1040px) {
  
}