@import '../../variables.scss';

#clients{
  display: flex;
  margin: 98px 0px;
  justify-content: space-between;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 525px;
  margin-left: 10px;

  p{
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
    line-height: $line-height-lg;
    text-align: left;
    color: $color-base-dark-main;
  }
}

.listClients{
  display: grid;
  gap: 0 105px;
  grid-template-columns: repeat(3,1fr);
  margin-left: 5%;

  img{
    width: 242px;
    height: 176px;
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1440px) {

  #clients{
    margin: 94px 0px;
  }

  .content{
    max-width: 421px;
    
    p{
      font-size: $font-size-md;
    }
  }

  .listClients{
    gap: 0 60px;

    img{
      width: 210px;
      height: 135px;
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  
  #clients{
    margin: $spacing-stack-xxl 0;
  }

  .content{
    max-width: 304px;
    p{
      font-size: $font-size-xs;
    }
  }

  .listClients{
    gap: 0;

    img{
      width: 170px;
      height: 124px;
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 1024px) {

  #clients{
    flex-direction: column;
    margin: $spacing-stack-xxl 0px;
  }

  .content{
    max-width: 342px;
    margin-left: 0;
    margin-bottom: $spacing-stack-sm;
  
    p{
      font-size: $font-size-xs;
    }
  }

  .listClients{
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0;

    img{
      width: 170px;
      height: 124px;
    }
  }
}