@import '../../variables.scss';

#clients{
  display: flex;
  margin-top: 98px;
}

.Content{
  display: flex;
  align-items: center;
  justify-content: center;

  p{
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
    line-height: $line-height-lg;
    text-align: left;
    color: $color-base-dark-main;
  }
}

.ListClients{
  display: grid;
  grid-gap: 105px 0;
  grid-template-columns: repeat(3,1fr);
  margin: 0 98px;
}