@import '../../variables.scss';

#divContact{
  display: flex;
  margin-bottom: $spacing-stack-xxxl;
  justify-content: space-between;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 525px;
  margin-left: 10px;
}

.title{
  font-size: $font-size-md;
  font-weight: $font-weight-medium;
  line-height: $line-height-sm;
  text-align: left;
  color: $color-base-dark-main;
}

.subTitle{
  margin: $spacing-stack-md 0;
  font-size: $font-size-lg;
  font-weight: $font-weight-semibold;
  line-height: $line-height-lg;
  text-align: left;
  color: $color-base-dark-main;
}

.inputs{
  margin-bottom: $spacing-stack-lg;
  height: 156px;
  display: flex;
  flex-direction: column;
  gap: $spacing-stack-xxs;
}

.column{
  display: flex;
  flex-direction: column;
  gap: 40px;

  .devices{
    animation: 20s slide-y infinite linear;
    display: flex;
    flex-direction: column;
    gap: 40px;
  
    &.fast{
      animation-duration: 15s;
    }
  
    .image{
      width: 193px;
      height: 406px;
    }
  }
}

.listCelular{
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4,1fr);
  max-width: 937px;
  overflow: hidden;
  max-height: 900px; 
}

@keyframes slide-y {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes slide-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1440px) {

  #divNewSletter{
    margin-bottom: $spacing-stack-xxl;
  }

  .content{
    max-width: 421px;
  }

  .title{
    font-size: $font-size-xs;
  }

  .subTitle{
    font-size: $font-size-md;
  }

  .inputs{
    height: 134px;
  }

  .listCelular{
    max-width: 748px;
    gap: 24px;
  }

  .column{
    gap: 24px;

    .devices{
      gap: 24px;
    
      .image{
        width: 161px;
        height: 339px;
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {

  #divContact{
    margin-bottom: $spacing-stack-xxl;
  }

  .content{
    max-width: 303px;
  }

  .title{
    font-size: $font-size-xxs;
  }

  .subTitle{
    font-size: $font-size-xs;
  }

  .inputs{
    height: 134px;
  }

  .listCelular{
    max-width: 542px;
    gap: 20px;
  }

  .column{
    gap: 20px;

    .devices{
      gap: 20px;
    
      .image{
        width: 113px;
        height: 238px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {

  #divContact{
    display: flex;
    margin-bottom: $spacing-stack-xxl;
    justify-content: space-between;
    flex-direction: column;
  }

  .content{
    max-width: 90%;
    margin-left: 0;
  }

  .title{
    font-size: $font-size-xxs;
  }

  .subTitle{
    font-size: $font-size-xs;
    margin: $spacing-stack-md 0;
  }

  .inputs{
    height: 134px;
  }

  .listCelular{
    margin: $spacing-stack-xxl 0;
    width: 99vw;
    margin-left: -5%;
  }

  .columnVisibility{
    display: none;
  }

  .column {
    gap: $spacing-inline-xxs;
    flex-direction: row;
  
    .devices{
      gap: $spacing-inline-xxs;
      flex-direction: row;
      animation: 20s slide-x infinite linear;

      image{
        width: 113px;
        height: 238px;
      }
    }
  }
}