@import '../../variables.scss';

.header{
  display: flex;
  height: 80px;
  justify-content: flex-end;
  width: $desktop-size-lg;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: $color-base-transparent;
}

.logo{
  left: 0;
  position: fixed;
}


@media only screen and (max-width: 1040px) {

  .header{
    width: $desktop-size-md;
  }

}