@import '../../variables.scss';

.header{
  display: flex;
  height: 80px;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: $color-base-transparent;
}

.sticky{
  position: sticky;
  top: 0;
  z-index: 9;
}

.logo{
  left: 0;
  position: fixed;
}


@media only screen and (min-width: 1280px) and (max-width: 1440px) {


}