@import '../../variables.scss';

.header{
  display: flex;
  height: 80px;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: $color-base-transparent;
  animation: 0.7s animation ease-in;
}

.sticky{
  position: sticky;
  top: 0;
  z-index: 9;
}

.logo{
  left: 0;
  position: fixed;
}

@keyframes animation {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}