@import '../../variables.scss';

.styleOfFooter{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $color-base-dark-main;
  padding-top: $spacing-stack-sm;
  margin-bottom: $spacing-stack-xxxl;

  p{
    font-size: $font-size-md;
    font-weight: $font-weight-medium;
    line-height: $line-height-lg;
    text-align: left;
    color: $color-base-dark-main;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {

  .styleOfFooter{
    margin-bottom: $spacing-stack-xxl;

    p{
      font-size: $font-size-xs;
    }
  }
}