@import '../../variables.scss';

//Arrumar o input

.classInput{
  width: 525px;
  height: 64px;
  display: flex;
  align-items: center;
  color: $color-base-dark-highlight;
  font-size: $font-size-md;
  font-weight: $font-weight-medium;
  line-height: $line-height-xl;
  border-bottom: 2px solid $color-base-dark-highlight;

  &:focus{
    border-bottom: 3px solid $color-base-dark-highlight;
    border: 1px solid $color-primary-light;
  }

  &:hover{
    border-bottom: 3px solid $color-base-dark-highlight;
  }

  &:active{
    font-weight: $font-weight-semibold;
  }

  &:disabled{
    border-color: $color-base-dark-contrast;
    color: $color-base-dark-contrast;
    cursor: not-allowed;
  }

  &:invalid{
    border-color: $color-error-main;
    color: $color-error-dark;
    font-size: $font-size-xxxs;
    font-weight: $font-weight-medium;
    line-height: $line-height-lg;
  }
}