@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;700;800&display=swap');

//font-family
$font-family-base: 'Plus Jakarta Sans', sans-serif;

//font-weight
$font-weight-extrabold: 800;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 400;
$font-weight-regular: 300;

//font-size
$font-size-xxs: 14px;
